body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("gitam.jfif");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select,
.form-group input[type="date"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .checkbox-group label {
    display: block;
}

.form-group .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: #dac8c8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #d0b7b7;
}